body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #94add3;
  color: #f8f6f6;
  margin: 0;
  padding: 20px;
}


.gestor {
  max-width: 600px;
  margin: auto;
  background-color: #7a6969;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(41, 109, 165, 0.685);
  padding: 30px;
}


.gestor h1 {
  text-align: center;
  font-size: 2rem;
  color: #23c554;
  margin-bottom: 20px;
}


.dinero {
  text-align: center;
  margin-bottom: 20px;
}

.dinero span {
  font-size: 1.8rem;
  font-weight: bold;
  color: #13e043;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  border: 1px solid #55f050;
  border-radius: 8px;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #afb2b4;
  color: rgb(95, 57, 57);
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #2353b3;
}


ul#lista {
  list-style: none;
  padding: 0;
}

ul#lista li {
  background-color: #f8f9fa;
  border-left: 5px solid #007bff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

ul#lista li span {
  font-weight: bold;
}

ul#lista li span:nth-child(2) {
  color: #2fa743;
}

ul#lista li span.gastos {
  color: #dc3545;
}

ul#lista li span.ingresos {
  color: #28a745;
}